body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/psychedelic_pattern_@2X.png");
}

nav h2 {
    /* padding: 20px; */
    background-color: rgb(245, 200, 192);
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    height: 100%;
    margin-left: 20px;
    margin-top: -36px;
    height: 72px;
    padding: 13px;
    position: absolute !important;
}

.navbar {
    background-color: lightblue !important;
}

.nav-link {
    color: white !important;
   
}

.nav-item {
    /* margin-top: 30px; */
}

hr {
    background-color: red;
}

.display-5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

img {
    float: left;
    height: 200px;
}

p {
    margin-left: 220px;
}

footer {
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: gray;
    height: 70px;
    border-top: 6px solid #4aaaa5;
}

footer section {
    margin-top: 35px;
}

.jumbotron {
    background-color: blue !important;
    margin-top: 30px;
    margin-left: 30px;
    color: white;
}

.display-5 {
    margin-top: -45px;
}

.container {
    background-color: blue;
    color: white;
    margin-top: 30px;
    width: 800px;
    height: 500px;
   
}

h5 {
    position: absolute;
    background-color: rgba(84, 74, 230, 0.39);
    text-align: center;
}

row {
    padding: 120px;
}