nav h2 {
    /* padding: 20px; */
    background-color: rgb(245, 200, 192);
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    height: 100%;
    margin-left: 90px;
    margin-top: -36px;
    height: 72px;
    padding: 13px;
    position: absolute !important;
}

.nav.navbar { 
    color: purple !important;
}

hr {
    background-color: red;
}
img {
    float: left;
    height: 200px;
}

p {
    margin-left: 220px;
}

footer {
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: gray;
    height: 60px;
}

footer section {
    margin-top: 35px;
}

.jumbotron {
    background-color: blue !important;
    margin-top: 30px;
    color: white;
}

.display-5 {
    margin-top: -45px;
}